body{
    background-color: #eef1f0;
}
#popupform {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popupform {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.container{
    position: absolute;
    top: auto;
    right: auto;
    width: 20%;
    height:85%;
    background-color: rgb(240, 240, 240);
    overflow-y: scroll;
}

.container .f_name, .l_name, .employeeEmail, .employeeNumber, .defaultPassword{
    
    border: 1px solid #e9ecef;
    font-size: 14px;
    line-height: 26px;
    background-color: #fff;
    display: block;
    width: 95%;
    padding: 0.375rem 0.75rem;
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.genderSelect, .roleSelect{
    width: 120px;
    height: 30px;
    border: 1px solid #e9ecef;
    font-size: 14px;
    color: #212529;
    background-color: #fff;
    line-height: 26px;
    font-weight: 300;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    width: 100%;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Speciality{
    width: 120px;
    height: 30px;
    border: 1px solid #e9ecef;
    font-size: 14px;
    color: #212529;
    background-color: #fff;
    line-height: 26px;
    font-weight: 300;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    width: 100%;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Submit{
    position: absolute;
    left: 40%;
    cursor: pointer;
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

#popupform form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
}
@media screen and (max-width: 480px) {
    #popupform form {
        width: 90%;
    }

    .container {
        width: 90%;
    }

    .Submit {
        left: 40%;
    }
}